*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.dll
*.exe
*.o
*.opt
*.orig
*.so
*~

META
Makefile
aclocal.m4
config.cache
config.h
config.log
config.status
configure
core
core.*
html

/Make.rules
/autom4te.cache
/po/*.mo
/po/*.po.bak
/src/opt_gettext.ml
/src/version.ml
/src/virt-top
/src/virt-top.1
/src/virt-top.txt
/virt-top-*.tar.gz
