*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.dll
*.exe
*.gmo
*.o
*.opt
*.orig
*.so
*~

Makefile
Makefile.in
.deps

/META
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/core
/core.*
/depcomp
/html
/install-sh
/missing
/ocaml-dep.sh
/ocaml-link.sh
/src/.depend
/stamp-h1

/autom4te.cache
/local*
/po/*.mo
/po/*.po.bak
/src/opt_gettext.ml
/src/version.ml
/src/virt-top
/src/virt-top.1
/src/virt-top.txt
/virt-top-*.tar.gz
